* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Karla;
}

nav {
  display: flex;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 1.1rem;
  color: white;
  font-size: 20.75px;
  font-weight: 700;
  /* line-height: 24.25px; */
  letter-spacing: -0.1em;
  text-align: left;
  gap: 0.6em;
}
nav .nav {
  width: 31px;
  height: 31px;
}
main {
  padding: 30px;
}

main > form {
  display: grid;
  grid-template: 40px 40px/1fr 1fr;
  gap: 17px;
}
main > form input {
  border-radius: 4px;
  border: 0.82px solid #d1d5db;
  text-indent: 5px;
}
main > form > button {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: #fff;
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.7px;
  letter-spacing: -0.1em;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  grid-column: 1/-1;
}
