:root {
  --main-color: #4e4e4e;
  --secondary-color: #f0f0f0;
  --main-background: #eee;
  --secondary-background: #464444;
  --main-font: "Karla", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --border-Radius: 0.6em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background);
  font-family: var(--main-font);
  transition: ease-in-out 0.5s;
}

/* ----Start nav-bar style-------- */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  box-shadow: 0px 6px 9px 0px #4c4c4c5c;
}
.nav-left {
  display: flex;
  align-items: center;
}
nav h3 {
  margin-left: 1rem;
}
nav img {
  width: 3rem;
}
.nav-right button {
  padding: 0.5rem 1rem;
  border-radius: var(--border-Radius);
  cursor: pointer;
}
/* ----End nav-bar style-------- */
main {
  padding: 2.5rem 2.5rem;
  margin: auto;
}
.main form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.main form > * {
  flex: 1 1 40rem;
}
.main form label {
  padding-right: 0.5em;
  font-size: 20px;
  letter-spacing: 0.2em;
}
.main form label :first-child {
  border-radius: var(--border-Radius);
  padding: 0.5rem 1rem;
  width: 100%;
}
.button {
  padding: 1rem;
  border-radius: var(--border-Radius);
  cursor: pointer;
  border: 1px solid var(--main-color);
}
.meme {
  padding-top: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.meme img {
  width: 80%;
}
.meme .top,
.main .bottom {
  border-radius: var(--border-Radius);
  background-color: var(--main-background);
  color: var(--main-color);
  padding: 0.2em;
  position: absolute;
}

.meme .bottom {
  bottom: 0;
}
/* ----End Main style-------- */
/* ----Start Main style-------- */

/* ------------------ */
/* Dark Mode styles */

.dark {
  background-color: var(--secondary-background);
  color: var(--secondary-color);
  box-shadow: 0px 0px 10px 0px #f9f8f887;
}
/* ------------------ */
